{% extends 'base.html' %}
{% block content %}

<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md mx-auto">
    <h2 class="text-2xl font-semibold text-gray-900 mb-4 text-center">Criar Sua Lista de Compras</h2>
  
    <!-- Formulário para Nome da Lista (somente exibe se não houver uma lista ativa) -->
    <form method="">
      <input type="hidden" name="create_list" value="1">
      <div>
        <label for="nome_lista" class="block text-sm font-medium text-gray-700">Nome da Lista</label>
        <input type="text" name="nome_lista" id="nome_lista" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
      </div>
    </form>
  
    <!-- Formulário para Adicionar Item -->
    <form method="post" class="space-y-4 mt-4">
    {% csrf_token %}
    <input type="hidden" name="add_item" value="1">
    <div>
        <label for="nome_item" class="block text-sm font-medium text-gray-700">Item da Lista</label>
        <input type="text" name="nome_item" id="nome_item" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
    </div>
    
    <div>
        <label for="quantidade" class="block text-sm font-medium text-gray-700">Quantidade</label>
        <input type="number" name="quantidade" id="quantidade" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
    </div>
    
    <div>
        <label for="unidade" class="block text-sm font-medium text-gray-700">Unidade</label>
        <select name="unidade" id="unidade" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" required>
        <option value="" disabled selected>Selecione uma unidade</option>
        <option value="kg">kg</option>
        <option value="und">und</option>
        </select>
    </div>

    <button type="submit" class="mt-4 w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600">Adicionar Item</button>
    </form>
    <button type="submit" class="mt-4 w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600">Salvar Lista</button>
  </div>

{% endblock %}
